body {
  color: #4A5568;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: #4A5568;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

nav {
  overflow: auto hidden;
  padding: 2rem;
  text-align: center;
}

nav .logo {
  height: auto;
  margin-bottom: 2rem;
  width: 8rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 0.45rem;
}

nav ul li a {
  color: #4A5568;
  font-size: 0.8rem;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  border-bottom: solid 1px #EDF2F7;
  line-height: 2;
  max-width: 720px;
  padding: 1.5rem 2rem;
}

.content p, .content pre, .content img, .content iframe, .content h2, .content h3, .content h4 {
  margin-top: 1rem;
  max-width: 100%;
}

.content a {
  color: #6B46C1;
  padding-bottom: 12rem;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content a:visited {
  color: #553C9A;
  text-decoration: none;
}

.content pre {
  background: #282C34;
  border: solid 1px #5d6679;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #DCD6B0;
  font-size: 0.75rem;
  margin: 2rem 0;
  overflow-x: auto;
  padding: 0.75rem;
  word-break: break-all;
}

code {
  font-family: 'Source Code Pro', source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p code {
  background: hsl(210 18% 95% / 1);
  color: #C53030;
  font-size: 0.8rem;
  padding: .25rem .4rem;
}

@media only screen and (min-device-width: 768px) {
  .container {
    flex-direction: row;
  }

  nav {
    border-right: solid 1px #EDF2F7;
    min-height: 100vh;
    padding: 2rem 4rem 2rem 2rem;
    text-align: left;
  }

  .content {
    border: none;
    padding: 2rem 4rem 12rem 4rem;
  }

  .content pre {
    font-size: 0.875rem;
    padding: 1.25rem;
  }
}

.example-table {
  border-collapse: collapse;
  border: solid 1px rgb(241, 245, 249);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  font-size: .875rem;
  line-height: 1.25rem;
  table-layout: auto;
  width: 100%;
}

.example-table thead {
  color: rgb(148, 163, 184);
  font-weight: 500;
}

.example-table thead th {
  background: rgb(248, 250, 252);
  border-bottom: solid 1px rgb(226, 232, 240);
  padding: 0.75rem 0;
  text-align: left;
}

.example-table tbody td {
  border-bottom: solid 1px rgb(241, 245, 249);
  color: rgb(100, 116, 139);
  padding: 0.75rem 0;
}

.example-table td:first-child, .example-table th:first-child {
  padding-left: 1.25rem;
}

.example-table td:last-child, .example-table th:last-child {
  padding-right: 1.25rem;
}

.example-table th.type {
  text-align: center;
  width: 5rem;
}

.example-table th.type span {
  background: #e6edf4;
  border-radius: 8px;
  color: #7588a3;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 0.3rem 0.75rem;
  text-transform: uppercase;
}
